In [21]:
import pandas as pd

In [22]:
df = pd.read_csv('visit_dataset.csv')

In [23]:
df.head()

,Visit_Date,Patient_ID,Age,Gender,Diagnosis,Has_Insurance,Area,Total_Cost,Registration time,Nursing time,Laboratory time,Consultation time,Pharmacy time
0,2019-01-01,4174,28,Male,Type 1 Diabetes,Yes,Downtown Dubai,711.975905,21.6,21.1,29.6,25.8,28.2
1,2019-01-01,4507,62,Female,Type 2 Diabetes,Yes,Downtown Dubai,507.680147,13.0,50.9,34.8,26.3,23.2
2,2019-01-01,1860,47,Male,Prediabetes,Yes,Downtown Dubai,317.582770,27.3,20.9,23.9,35.1,14.8
3,2019-01-01,2294,10,Female,Type 2 Diabetes,Yes,Downtown Dubai,484.387822,19.2,30.8,22.9,20.6,21.9
4,2019-01-01,2130,66,Male,Type 2 Diabetes,Yes,Downtown Dubai,118.649105,13.3,29.1,19.5,34.2,36.6

In [24]:
# Convert date column to datetime format
df["Visit_Date"] = pd.to_datetime(df["Visit_Date"], format="%Y-%m-%d")

In [25]:
# Check for missing values
print(df.isnull().sum())

Visit_Date               0
Patient_ID               0
Age                      0
Gender               10202
Diagnosis            32712
Has_Insurance        53950
Area                     0
Total_Cost               0
Registration time        0
Nursing time             0
Laboratory time          0
Consultation time        0
Pharmacy time            0
dtype: int64

In [26]:
#Filling blank values for diagnosis with Unknown
df["Diagnosis"] = df["Diagnosis"].fillna("Unknown")

In [27]:
print(df.isnull().sum())

Visit_Date               0
Patient_ID               0
Age                      0
Gender               10202
Diagnosis                0
Has_Insurance        53950
Area                     0
Total_Cost               0
Registration time        0
Nursing time             0
Laboratory time          0
Consultation time        0
Pharmacy time            0
dtype: int64

In [28]:
#FIlling blank values for gender as Other
df["Gender"] = df["Gender"].fillna("Other")

In [29]:
#Filling blank values for has_insurance as No
df["Has_Insurance"] = df["Has_Insurance"].fillna("No")

In [30]:
print(df.isnull().sum())

Visit_Date           0
Patient_ID           0
Age                  0
Gender               0
Diagnosis            0
Has_Insurance        0
Area                 0
Total_Cost           0
Registration time    0
Nursing time         0
Laboratory time      0
Consultation time    0
Pharmacy time        0
dtype: int64

In [31]:
df = df.drop_duplicates()

In [32]:
#drop columns where age=0
df = df[(df['Age']>0)]

In [34]:
df["Total_Cost"] = df["Total_Cost"].abs()

In [35]:
#Save the cleaned data to 'cleaned_patient_data.csv' file
df.to_csv('cleaned_patient_data.csv', index=False)